/* Animazione di sfondo */
body {
  background: linear-gradient(-45deg, #1d1d1d, #006663, #554500);
  background-size: 800% 1000%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
